In [1]:
import os
import pandas as pd
import numpy as np
import statistics
from scipy.stats import gmean
import sys

In [2]:
database_connect = 'postgres://doadmin:rdxo4w05qb3vq10l@db-postgresql-fra1-36671-do-user-4768937-0.db.ondigitalocean.com:25060/hockey'

In [3]:
class DataFrameTransformer:
    def __init__(self, df):
        self.df = df
        self.transforms = []
    
    def add_transform(self, transform):
        self.transforms.append(transform)
    
    def add_transforms(self, transforms):
        for transform in self.transforms:
            self.add_transform(transform)
    
    def fit(self):
        for transform in transforms:
            self.df = transform(self.df)
        return self.df

In [4]:
table_player_stats_name = 'data_for_model3'
df_player_stats = pd.read_sql_table(table_player_stats_name, database_connect)
df_player_stats.sample(5)

,player_stats_id,player_stats_khl_id,season_id,team_id,player_id,games,points,goals,assists,penalty,...,player_height,player_weight,player_site_id,player_age,player_name,player_unicode_name,player_khl_id,player_nhl_id,season_year,season_type
32335,NaN,9210.0,85,198,1248,5,2.0,0.0,2.0,2.0,...,195.0,99.0,94663,26.0,Alexander Kadeykin ...,"alexander kadeykin a.k.a. ""alexander kadeikin""",321,NaN,2018,playoff
23590,25151.0,NaN,11,84,32748,11,6.0,1.0,5.0,10.0,...,185.0,91.0,32735,29.0,Jeff Brown\n ...,"jeff brown a.k.a. ""jeffrey brown""",None,8445700.0,1993,regular
5571,6018.0,NaN,20,85,9026,43,16.0,6.0,10.0,12.0,...,178.0,89.0,9032,NaN,Greg Johnson,greg johnson,None,8456734.0,1996,regular
8840,9497.0,NaN,62,66,12517,23,1.0,0.0,1.0,12.0,...,185.0,88.0,12521,30.0,Drayson Bowman,drayson bowman,None,8474137.0,2010,regular
35194,NaN,12389.0,74,205,1740,12,2.0,1.0,1.0,8.0,...,188.0,87.0,191439,28.0,Alexander Fedoseyev,alexander fedoseyev,None,NaN,2014,regular

In [5]:
table_team_stats_name = 'team_stats'
df_team_stats = pd.read_sql_table(table_team_stats_name, database_connect)
df_team_stats.sample(5)

,id,team_id,season_id,games,points,goals_scored,goals_missed,position_in_championship,position_in_conference,playoff_fact,position_in_division,nhl_id
11476,12300,931,91,35,NaN,2,79,14,NaN,True,NaN,None
6620,7092,203,91,37,NaN,3,99,2,NaN,True,NaN,None
32831,35615,1570,92,38,28.0,71,101,22,12.0,False,6.0,None
12604,13509,649,91,37,NaN,3,69,23,NaN,True,NaN,None
20683,22158,15526,92,37,34.0,73,93,19,9.0,False,5.0,None

In [6]:
df_temp = df_team_stats[:]
df_temp.drop('id', axis=1, inplace=True)
df_team_stats = df_temp.drop_duplicates(keep='first')
df_team_stats = df_team_stats.reset_index(drop=True)
df_team_stats

/Users/gvyarduhin/opt/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:4102: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,team_id,season_id,games,points,goals_scored,goals_missed,position_in_championship,position_in_conference,playoff_fact,position_in_division,nhl_id
0,216,85,4,NaN,6,10,14,NaN,True,NaN,None
1,216,85,56,NaN,10,116,11,NaN,True,NaN,None
2,216,80,60,100.0,163,137,11,7.0,False,5.0,None
3,216,83,60,104.0,145,124,9,6.0,False,4.0,None
4,216,82,5,NaN,9,13,11,NaN,True,NaN,None
...,...,...,...,...,...,...,...,...,...,...,...
1131,87,86,82,86.0,213,223,18,9.0,False,4.0,53
1132,84,86,82,81.0,225,254,23,12.0,False,5.0,23
1133,1479,86,82,80.0,199,251,24,13.0,False,6.0,24
1134,71,86,82,79.0,232,274,25,14.0,False,7.0,22
1135,88,86,82,71.0,202,263,30,15.0,False,8.0,26

## Features for teams

In [7]:
actual_season = 89
minimum_season = 0

In [8]:
temp = df_team_stats[(df_team_stats['season_id'] >= minimum_season) & (df_team_stats['season_id'] < actual_season)]
temp.reset_index(drop=True, inplace=True)
temp

,team_id,season_id,games,points,goals_scored,goals_missed,position_in_championship,position_in_conference,playoff_fact,position_in_division,nhl_id
0,216,85,4,NaN,6,10,14,NaN,True,NaN,None
1,216,85,56,NaN,10,116,11,NaN,True,NaN,None
2,216,80,60,100.0,163,137,11,7.0,False,5.0,None
3,216,83,60,104.0,145,124,9,6.0,False,4.0,None
4,216,82,5,NaN,9,13,11,NaN,True,NaN,None
...,...,...,...,...,...,...,...,...,...,...,...
1058,87,86,82,86.0,213,223,18,9.0,False,4.0,53
1059,84,86,82,81.0,225,254,23,12.0,False,5.0,23
1060,1479,86,82,80.0,199,251,24,13.0,False,6.0,24
1061,71,86,82,79.0,232,274,25,14.0,False,7.0,22
1062,88,86,82,71.0,202,263,30,15.0,False,8.0,26

In [9]:
teams = temp['team_id'].unique()
teams

array([  216,  6116,   200,   188,   203,   202,   198,  1570,   192,
         191,  2338,   205,   931,  1361,   204,    46,  1577, 15526,
        1621, 13644,   206,   194,   196,   199,   724,   649, 20132,
       20727,  2685,    78,    85,    83,    88,    62,    71,    84,
          63,    75,    67,    68,    81,    76,    79,    80,    65,
        1479,    77,    74,    66,    89,    73,    82,    64,    69,
          86,    70,   547,    87, 20120])

In [10]:
temp.columns

Index(['team_id', 'season_id', 'games', 'points', 'goals_scored',
       'goals_missed', 'position_in_championship', 'position_in_conference',
       'playoff_fact', 'position_in_division', 'nhl_id'],
      dtype='object')

In [11]:
start = len(temp)
columns = temp.columns
for team in teams:
    cur_team_list = [None] * len(columns)
    cur_team_list[0] = team
    cur_team_list[1] = actual_season
    temp.loc[start] = cur_team_list
    start += 1
temp

/Users/gvyarduhin/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:205: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

,team_id,season_id,games,points,goals_scored,goals_missed,position_in_championship,position_in_conference,playoff_fact,position_in_division,nhl_id
0,216.0,85.0,4.0,NaN,6.0,10.0,14.0,NaN,1.0,NaN,None
1,216.0,85.0,56.0,NaN,10.0,116.0,11.0,NaN,1.0,NaN,None
2,216.0,80.0,60.0,100.0,163.0,137.0,11.0,7.0,0.0,5.0,None
3,216.0,83.0,60.0,104.0,145.0,124.0,9.0,6.0,0.0,4.0,None
4,216.0,82.0,5.0,NaN,9.0,13.0,11.0,NaN,1.0,NaN,None
...,...,...,...,...,...,...,...,...,...,...,...
1117,86.0,89.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1118,70.0,89.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1119,547.0,89.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1120,87.0,89.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1121,20120.0,89.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
def add_feature_from_dict(df, d, feature_name, attr_name, season_count, step):
    df[feature_name] = None
    for k, v in d.items():
        s = 0
        for i in range(1, season_count + 1):
            if d.get(k - step * i) != None:
                s += d.get(k - step * i)
        df[feature_name][df[attr_name] == k] = s / season_count
    return df

In [13]:
# transform methods for seasons
def add_avg_games_for_season(df):
    d = df.groupby('season_id')['games'].mean().to_dict()
    return add_feature_from_dict(df, d, 'feature_mean_games_count_season',  'season_id', 3, 3)

def add_avg_points_for_season(df):
    d = df.groupby('season_id')['points'].mean().to_dict()
    return add_feature_from_dict(df, d, 'feature_mean_points_season',  'season_id', 3, 3)

def add_avg_goals_scored_for_season(df):
    d = df.groupby('season_id')['goals_scored'].mean().to_dict()
    return add_feature_from_dict(df, d, 'feature_mean_goals_scored_season', 'season_id', 3, 3)

def add_avg_goals_missed_for_season(df):
    d = df.groupby('season_id')['goals_missed'].mean().to_dict()
    return add_feature_from_dict(df, d, 'feature_mean_goals_missed_season', 'season_id', 3, 3)

def add_avg_position_in_championship_for_season(df):
    d = df.groupby('season_id')['position_in_championship'].mean().to_dict()
    return add_feature_from_dict(df, d, 'feature_mean_position_in_championship_season', 'season_id', 3, 3)

def add_avg_position_in_conference_for_season(df):
    d = df.groupby('season_id')['position_in_conference'].mean().to_dict()
    return add_feature_from_dict(df, d, 'feature_mean_position_in_conference_season', 'season_id', 3, 3)

def add_avg_position_in_division_for_season(df):
    d = df.groupby('season_id')['position_in_division'].mean().to_dict()
    return add_feature_from_dict(df, d, 'feature_mean_position_in_division_season', 'season_id', 3, 3)

def add_team_count_for_season(df):
    d = df.groupby('season_id').apply(lambda x: len(x['team_id'].unique())).to_dict()
    return add_feature_from_dict(df, d, 'feature_team_count_season', 'season_id', 3, 3)

In [14]:
transforms = [add_avg_games_for_season, add_avg_points_for_season, add_avg_position_in_division_for_season, add_avg_position_in_conference_for_season, add_avg_position_in_championship_for_season, add_avg_goals_missed_for_season, add_avg_goals_scored_for_season, add_team_count_for_season]
transformer = DataFrameTransformer(temp[:])
transformer.add_transforms(transforms)
df_team_feature = transformer.fit()
df_team_feature

/Users/gvyarduhin/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Users/gvyarduhin/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Users/gvyarduhin/opt/anaconda3/lib/python3.7/site-packages/pandas/core/generic.py:9114: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)
/Users/gvyarduhin/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/Users/gvyarduhin/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/Users/gvyarduhin/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/Users/gvyarduhin/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/Users/gvyarduhin/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()
/Users/gvyarduhin/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
/Users/gvyarduhin/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,team_id,season_id,games,points,goals_scored,goals_missed,position_in_championship,position_in_conference,playoff_fact,position_in_division,nhl_id,feature_mean_games_count_season,feature_mean_points_season,feature_mean_position_in_division_season,feature_mean_position_in_conference_season,feature_mean_position_in_championship_season,feature_mean_goals_missed_season,feature_mean_goals_scored_season,feature_team_count_season
0,216.0,85.0,4.0,NaN,6.0,10.0,14.0,NaN,1.0,NaN,None,39.3224,NaN,NaN,NaN,11.0884,100.221,12.4836,24.3333
1,216.0,85.0,56.0,NaN,10.0,116.0,11.0,NaN,1.0,NaN,None,39.3224,NaN,NaN,NaN,11.0884,100.221,12.4836,24.3333
2,216.0,80.0,60.0,100.0,163.0,137.0,11.0,7.0,0.0,5.0,None,82,92.2011,4.18637,7.89573,15.2557,224.189,225.177,28.6667
3,216.0,83.0,60.0,104.0,145.0,124.0,9.0,6.0,0.0,4.0,None,78.3977,91.7713,4.13833,7.79673,15.1081,211.707,212.742,38.3333
4,216.0,82.0,5.0,NaN,9.0,13.0,11.0,NaN,1.0,NaN,None,43.3372,NaN,NaN,NaN,7.69208,119.826,10.9299,16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1117,86.0,89.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,70.6879,89.9275,4.13738,7.77173,15.0523,193.136,193.781,57.6667
1118,70.0,89.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,70.6879,89.9275,4.13738,7.77173,15.0523,193.136,193.781,57.6667
1119,547.0,89.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,70.6879,89.9275,4.13738,7.77173,15.0523,193.136,193.781,57.6667
1120,87.0,89.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,70.6879,89.9275,4.13738,7.77173,15.0523,193.136,193.781,57.6667
1121,20120.0,89.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,70.6879,89.9275,4.13738,7.77173,15.0523,193.136,193.781,57.6667

In [15]:
import progressbar
def calculate_team_feature(df, feature_name, attr, season_count, step_al):
    print("Calculating feature for", attr)
    df[feature_name] = None
    bar = progressbar.ProgressBar(maxval=12, \
        widgets=[progressbar.Bar('=', '[', ']'), ' ', progressbar.Percentage()])
    bar.start()
    step = 1
    for ind in range(len(df)):
        season = df.loc[ind, 'season_id']
        team = df.loc[ind, 'team_id']
        s = 0
        for i in range(1, season_count + 1):
            s += df.loc[(df['season_id'] == season - step_al * i) & (df['team_id'] == team)][attr].sum()
        df.loc[ind, feature_name] = s / season_count
        if ind % 100 == 0:
            bar.update(step)
            step += 1
    bar.finish()
    return df

In [16]:
# transform methods for teams
def add_avg_games_for_team(df):
    return calculate_team_feature(df, 'feature_mean_games_count_team', 'games', 3, 3)

def add_avg_points_for_team(df):
    return calculate_team_feature(df, 'feature_mean_points_team', 'points', 3, 3)

def add_avg_goals_scored_for_team(df):
    return calculate_team_feature(df, 'feature_mean_goals_scored_team', 'goals_scored', 3, 3)

def add_avg_goals_missed_for_team(df):
    return calculate_team_feature(df, 'feature_mean_goals_missed_team', 'goals_missed', 3, 3)

def add_avg_position_in_championship_for_team(df):
    return calculate_team_feature(df, 'feature_mean_position_in_championship_team', 'position_in_championship', 3, 3)

def add_avg_position_in_conference_for_team(df):
    return calculate_team_feature(df, 'feature_mean_position_in_conference_team', 'position_in_conference', 3, 3)

def add_avg_position_in_division_for_team(df):
    return calculate_team_feature(df, 'feature_mean_position_in_division_team', 'position_in_division', 3, 3)

In [17]:
transforms = [add_avg_games_for_team, add_avg_points_for_team, add_avg_goals_scored_for_team, add_avg_goals_missed_for_team, add_avg_position_in_championship_for_team, add_avg_position_in_conference_for_team, add_avg_position_in_division_for_team]
transformer = DataFrameTransformer(df_team_feature)
transformer.add_transforms(transforms)
df_team_feature = transformer.fit()
df_team_feature

/Users/gvyarduhin/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
[                                                                        ] N/A%/Users/gvyarduhin/opt/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

Calculating feature for games

[========================================================================] 100%
[                                                                        ] N/A%

Calculating feature for points

[========================================================================] 100%
[                                                                        ] N/A%

Calculating feature for goals_scored

[========================================================================] 100%
[                                                                        ] N/A%

Calculating feature for goals_missed

[========================================================================] 100%
[                                                                        ] N/A%

Calculating feature for position_in_championship

[========================================================================] 100%
[                                                                        ] N/A%

Calculating feature for position_in_conference

[========================================================================] 100%
[                                                                        ] N/A%

Calculating feature for position_in_division

[========================================================================] 100%

,team_id,season_id,games,points,goals_scored,goals_missed,position_in_championship,position_in_conference,playoff_fact,position_in_division,...,feature_mean_goals_missed_season,feature_mean_goals_scored_season,feature_team_count_season,feature_mean_games_count_team,feature_mean_points_team,feature_mean_goals_scored_team,feature_mean_goals_missed_team,feature_mean_position_in_championship_team,feature_mean_position_in_conference_team,feature_mean_position_in_division_team
0,216.0,85.0,4.0,NaN,6.0,10.0,14.0,NaN,1.0,NaN,...,100.221,12.4836,24.3333,67,0,20.6667,174,21.6667,0,0
1,216.0,85.0,56.0,NaN,10.0,116.0,11.0,NaN,1.0,NaN,...,100.221,12.4836,24.3333,67,0,20.6667,174,21.6667,0,0
2,216.0,80.0,60.0,100.0,163.0,137.0,11.0,7.0,0.0,5.0,...,224.189,225.177,28.6667,0,0,0,0,0,0,0
3,216.0,83.0,60.0,104.0,145.0,124.0,9.0,6.0,0.0,4.0,...,211.707,212.742,38.3333,20,33.3333,54.3333,45.6667,3.66667,2.33333,1.66667
4,216.0,82.0,5.0,NaN,9.0,13.0,11.0,NaN,1.0,NaN,...,119.826,10.9299,16,45.3333,0,15.3333,121.333,15,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1117,86.0,89.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,193.136,193.781,57.6667,82,100,254,230.333,9.33333,4.66667,2.66667
1118,70.0,89.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,193.136,193.781,57.6667,82,88,222.667,229.667,19.3333,9,5.33333
1119,547.0,89.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,193.136,193.781,57.6667,82,100,266,239.333,10.6667,5,3
1120,87.0,89.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,193.136,193.781,57.6667,82,75.3333,206,246.333,25,12,6
1121,20120.0,89.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,193.136,193.781,57.6667,54.6667,67.3333,173.667,152.667,7,3.33333,1.33333

## Features for player

In [18]:
temp_player = df_player_stats[(df_player_stats['season_id'] >= minimum_season) & (df_player_stats['season_id'] < actual_season)]
temp_player.reset_index(drop=True, inplace=True)
temp_player

,player_stats_id,player_stats_khl_id,season_id,team_id,player_id,games,points,goals,assists,penalty,...,player_height,player_weight,player_site_id,player_age,player_name,player_unicode_name,player_khl_id,player_nhl_id,season_year,season_type
0,0.0,NaN,41,1479,8517,21,6.0,0.0,6.0,12.0,...,183.0,88.0,8523,40.0,Chris Kunitz\n ...,"chris kunitz a.k.a. ""christopher kunitz""",None,8470543.0,2003,regular
1,2.0,NaN,47,1479,8517,67,41.0,19.0,22.0,69.0,...,183.0,88.0,8523,40.0,Chris Kunitz\n ...,"chris kunitz a.k.a. ""christopher kunitz""",None,8470543.0,2005,regular
2,3.0,NaN,50,1479,8517,81,60.0,25.0,35.0,81.0,...,183.0,88.0,8523,40.0,Chris Kunitz\n ...,"chris kunitz a.k.a. ""christopher kunitz""",None,8470543.0,2006,regular
3,4.0,NaN,53,1479,8517,82,50.0,21.0,29.0,80.0,...,183.0,88.0,8523,40.0,Chris Kunitz\n ...,"chris kunitz a.k.a. ""christopher kunitz""",None,8470543.0,2007,regular
4,5.0,NaN,56,1479,8517,62,35.0,16.0,19.0,55.0,...,183.0,88.0,8523,40.0,Chris Kunitz\n ...,"chris kunitz a.k.a. ""christopher kunitz""",None,8470543.0,2008,regular
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35173,NaN,14312.0,71,931,2648,16,0.0,0.0,0.0,30.0,...,180.0,92.0,11128,31.0,Maxim Grachyov ...,"maxim grachyov a.k.a. ""max, maxime gratchyov, ...",None,NaN,2013,regular
35174,NaN,14313.0,64,205,2648,4,0.0,0.0,0.0,13.0,...,180.0,92.0,11128,31.0,Maxim Grachyov ...,"maxim grachyov a.k.a. ""max, maxime gratchyov, ...",None,NaN,2011,playoff
35175,NaN,14314.0,65,205,2648,13,0.0,0.0,0.0,16.0,...,180.0,92.0,11128,31.0,Maxim Grachyov ...,"maxim grachyov a.k.a. ""max, maxime gratchyov, ...",None,NaN,2011,regular
35176,NaN,14315.0,71,931,2649,7,0.0,0.0,0.0,2.0,...,180.0,82.0,41097,27.0,Valeri Knyazev ...,"valeri knyazev a.k.a. ""valery knyazev""",None,NaN,2013,regular
35177,NaN,14316.0,68,931,2649,26,0.0,0.0,0.0,0.0,...,180.0,82.0,41097,27.0,Valeri Knyazev ...,"valeri knyazev a.k.a. ""valery knyazev""",None,NaN,2012,regular

In [19]:
np.array(temp_player.columns)

array(['player_stats_id', 'player_stats_khl_id', 'season_id', 'team_id',
       'player_id', 'games', 'points', 'goals', 'assists', 'penalty',
       'p_m', '+', '-', 'esg', 'ppg', 'shg', 'otg', 'gwg', 'sds', 'sog',
       '%SOG', 'S/G', 'fo', 'fow', '%FO', 'TOI/G', 'SFT/G', 'hits', 'bls',
       'foa', 'league_id', 'league_short_name', 'league_full_name',
       'team_name', 'team_country', 'team_year_founded', 'team_full_name',
       'team_league_link', 'team_site_id', 'team_khl_id', 'team_nhl_id',
       'player_nationality', 'player_youth_team', 'player_position',
       'player_shoots', 'player_height', 'player_weight',
       'player_site_id', 'player_age', 'player_name',
       'player_unicode_name', 'player_khl_id', 'player_nhl_id',
       'season_year', 'season_type'], dtype=object)

In [20]:
players = df_player_stats['player_id'].unique()
players

array(['8517', '9665', '31347', ..., '2647', '2648', '2649'], dtype=object)

In [25]:
len(temp_player.columns)

55

In [28]:
cur = pd.DataFrame(columns=temp_player.columns)
cur

Empty DataFrame
Columns: [player_stats_id, player_stats_khl_id, season_id, team_id, player_id, games, points, goals, assists, penalty, p_m, +, -, esg, ppg, shg, otg, gwg, sds, sog, %SOG, S/G, fo, fow, %FO, TOI/G, SFT/G, hits, bls, foa, league_id, league_short_name, league_full_name, team_name, team_country, team_year_founded, team_full_name, team_league_link, team_site_id, team_khl_id, team_nhl_id, player_nationality, player_youth_team, player_position, player_shoots, player_height, player_weight, player_site_id, player_age, player_name, player_unicode_name, player_khl_id, player_nhl_id, season_year, season_type]
Index: []

[0 rows x 55 columns]

In [30]:
cur['player_id'] = players
cur['season_id'] = actual_season
cur['season_year'] = 2019
cur

,player_stats_id,player_stats_khl_id,season_id,team_id,player_id,games,points,goals,assists,penalty,...,player_height,player_weight,player_site_id,player_age,player_name,player_unicode_name,player_khl_id,player_nhl_id,season_year,season_type
0,NaN,NaN,89,NaN,8517,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019,NaN
1,NaN,NaN,89,NaN,9665,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019,NaN
2,NaN,NaN,89,NaN,31347,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019,NaN
3,NaN,NaN,89,NaN,22350,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019,NaN
4,NaN,NaN,89,NaN,10673,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6187,NaN,NaN,89,NaN,2645,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019,NaN
6188,NaN,NaN,89,NaN,2646,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019,NaN
6189,NaN,NaN,89,NaN,2647,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019,NaN
6190,NaN,NaN,89,NaN,2648,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019,NaN
6191,NaN,NaN,89,NaN,2649,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019,NaN

In [31]:
temp_player

,player_stats_id,player_stats_khl_id,season_id,team_id,player_id,games,points,goals,assists,penalty,...,player_height,player_weight,player_site_id,player_age,player_name,player_unicode_name,player_khl_id,player_nhl_id,season_year,season_type
0,0,NaN,41,1479,8517,21,6,0,6,12,...,183,88,8523,40,Chris Kunitz\n ...,"chris kunitz a.k.a. ""christopher kunitz""",None,8.47054e+06,2003,regular
1,2,NaN,47,1479,8517,67,41,19,22,69,...,183,88,8523,40,Chris Kunitz\n ...,"chris kunitz a.k.a. ""christopher kunitz""",None,8.47054e+06,2005,regular
2,3,NaN,50,1479,8517,81,60,25,35,81,...,183,88,8523,40,Chris Kunitz\n ...,"chris kunitz a.k.a. ""christopher kunitz""",None,8.47054e+06,2006,regular
3,4,NaN,53,1479,8517,82,50,21,29,80,...,183,88,8523,40,Chris Kunitz\n ...,"chris kunitz a.k.a. ""christopher kunitz""",None,8.47054e+06,2007,regular
4,5,NaN,56,1479,8517,62,35,16,19,55,...,183,88,8523,40,Chris Kunitz\n ...,"chris kunitz a.k.a. ""christopher kunitz""",None,8.47054e+06,2008,regular
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38960,NaN,NaN,89,NaN,438,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38961,NaN,NaN,89,NaN,55218,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38962,NaN,NaN,89,NaN,6654,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38963,NaN,NaN,89,NaN,8904,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38964,NaN,NaN,89,NaN,7553,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [51]:
temp_player = pd.concat([temp_player, cur])
temp_player = temp_player.fillna(np.nan)

In [52]:
def av_feature_overall(df, feature_name, attr):
        a = df.sort_values(by = ['season_year']).groupby(["player_id"])
        b = [pd.DataFrame(a.get_group(x)) for x in a.groups]
        for j in range(len(b)):
            count = 0
            ssum = 0
            for i in range(len(b[j])):
                if count != 0:
                    b[j].loc[b[j].index[i], feature_name] = ssum/count
                if not np.isnan(list(b[j][attr])[i]):
                    count+=1
                    ssum+=list(b[j][attr])[i]
        return pd.concat(b)

In [53]:
def av_games_overall(df):
    return av_feature_overall(df, 'av_games_overall', "games")

def av_goals_overall(df):
    return av_feature_overall(df, 'av_goals_overall', "goals")

def av_assists_overall(df):
    return av_feature_overall(df, 'av_assists_overall', "assists")

def av_penalty_overall(df):
    return av_feature_overall(df, 'av_penalty_overall', "penalty")

def av_p_m_overall(df):
    return av_feature_overall(df, 'av_p_m_overall', "p_m")

def av_p_overall(df):
    return av_feature_overall(df, 'av_+_overall', "+")

def av_m_overall(df):
    return av_feature_overall(df, 'av_-_overall', "-")

def av_esg_overall(df):
    return av_feature_overall(df, 'av_esg_overall', "esg")

def av_ppg_overall(df):
    return av_feature_overall(df, 'av_ppg_overall', "ppg")

def av_shg_overall(df):
    return av_feature_overall(df, 'av_shg_overall', "shg")

def av_otg_overall(df):
    return av_feature_overall(df, 'av_otg_overall', "otg")

def av_gwg_overall(df):
    return av_feature_overall(df, 'av_gwg_overall', "gwg")

def av_sds_overall(df):
    return av_feature_overall(df, 'av_sds_overall', "sds")

def av_sog_overall(df):
    return av_feature_overall(df, 'av_sog_overall', "sog")

def av__SOG_overall(df):
    return av_feature_overall(df, 'av_%SOG_overall', "%SOG")

def av_S_G_overall(df):
    return av_feature_overall(df, 'av_S/G_overall', "S/G")

def av_fo_overall(df):
    return av_feature_overall(df, 'av_fo_overall', "fo")

def av_fow_overall(df):
    return av_feature_overall(df, 'av_fow_overall', "fow")

def av__FO_overall(df):
    return av_feature_overall(df, 'av_%FO_overall', "%FO")

def av_TOI_G_overall(df):
    return av_feature_overall(df, 'av_TOI/G_overall', "TOI/G")

def av_SFT_G_overall(df):
    return av_feature_overall(df, 'av_SFT/G_overall', "SFT/G")

def av_hits_overall(df):
    return av_feature_overall(df, 'av_hits_overall', "hits")

def av_bls_overall(df):
    return av_feature_overall(df, 'av_bls_overall', "bls")

def av_foa_overall(df):
    return av_feature_overall(df, 'av_foa_overall', "foa")

In [54]:
transforms = [av_foa_overall, av_bls_overall, av_hits_overall, av_SFT_G_overall, av_fow_overall, av_fo_overall, av_S_G_overall, av__SOG_overall, av_sog_overall, av_sds_overall, av_gwg_overall, av_otg_overall, av_shg_overall, av_ppg_overall, av_esg_overall, av_games_overall, av_goals_overall, av_assists_overall, av_penalty_overall, av_p_m_overall, av_p_overall, av_m_overall]
transformer = DataFrameTransformer(temp_player)
transformer.add_transforms(transforms)
df_player_feature = transformer.fit()
df_player_feature

/Users/gvyarduhin/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:13: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  del sys.path[0]

,%FO,%SOG,+,-,S/G,SFT/G,TOI/G,assists,av_%SOG_overall,av_+_overall,...,sog,team_country,team_full_name,team_id,team_khl_id,team_league_link,team_name,team_nhl_id,team_site_id,team_year_founded
24235,100.0,12.9,53.0,47.0,4.1,27.8,25:17,30.0,NaN,NaN,...,217.0,"Nur-Sultan, KAZ",,2338,22.0,https://www.eliteprospects.com/league/khl,Barys Nur-Sultan\n \n\n \nKHL,NaN,2498.0,1999.0
24234,-,0.0,0.0,2.0,3.0,28.7,32:26,1.0,12.900000,53.000000,...,9.0,"Nur-Sultan, KAZ",,2338,22.0,https://www.eliteprospects.com/league/khl,Barys Nur-Sultan\n \n\n \nKHL,NaN,2498.0,1999.0
24233,-,7.7,51.0,58.0,3.3,25.0,25:33,27.0,6.450000,26.500000,...,183.0,"Nur-Sultan, KAZ",,2338,22.0,https://www.eliteprospects.com/league/khl,Barys Nur-Sultan\n \n\n \nKHL,NaN,2498.0,1999.0
24232,50.0,5.3,51.0,41.0,4.2,27.1,27:17,27.0,6.866667,34.666667,...,225.0,"Nur-Sultan, KAZ",,2338,22.0,https://www.eliteprospects.com/league/khl,Barys Nur-Sultan\n \n\n \nKHL,NaN,2498.0,1999.0
24231,-,0.0,0.0,4.0,3.8,24.5,27:31,2.0,6.475000,38.750000,...,15.0,"Nur-Sultan, KAZ",,2338,22.0,https://www.eliteprospects.com/league/khl,Barys Nur-Sultan\n \n\n \nKHL,NaN,2498.0,1999.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28728,11.1,3.6,24.0,29.0,2.4,22.9,16:09,17.0,8.160000,18.200000,...,111.0,Bratislava,,174,NaN,https://www.eliteprospects.com/league/slovakia,HC Slovan Bratislava\n \n\n \nSlov...,NaN,169.0,1921.0
4853,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.875000,18.562500,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4853,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.875000,18.562500,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4853,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.875000,18.562500,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4853,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.875000,18.562500,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [57]:
def av_feature_in_last_2(df, feature_name, attr):
        a = df.sort_values(by = ['season_year']).groupby(["player_id"])
        b = [pd.DataFrame(a.get_group(x)) for x in a.groups]
        for j in range(len(b)):
            count = 0
            res = []
            for i in range(len(b[j])):
                b[j] = b[j].sort_values(by = ['season_year', 'team_id'])
                if not np.isnan(list(b[j][attr])[i]):
                    if count != 2:
                        count+=1
                        res.append(list(b[j][attr])[i])
                    else:
                        b[j].loc[b[j].index[i], feature_name] = sum(res)/count
                        del res[0]
                        res.append(list(b[j][attr])[i])
                else:
                    if count == 2:
                        b[j].loc[b[j].index[i], feature_name] = sum(res)/count
                    res = []
                    count = 0
        return pd.concat(b)

In [58]:
def av_games_in_last_2(df):
    return av_feature_in_last_2(df, 'av_games_in_last_2', "games")

def av_goals_in_last_2(df):
    return av_feature_in_last_2(df, 'av_goals_in_last_2', "goals")

def av_assists_in_last_2(df):
    return av_feature_in_last_2(df, 'av_assists_in_last_2', "assists")

def av_penalty_in_last_2(df):
    return av_feature_in_last_2(df, 'av_penalty_in_last_2', "penalty")

def av_p_m_in_last_2(df):
    return av_feature_in_last_2(df, 'av_p_m_in_last_2', "p_m")

def av_m_in_last_2(df):
    return av_feature_in_last_2(df, 'av_+_in_last_2', "+")

def av_p_in_last_2(df):
    return av_feature_in_last_2(df, 'av_-_in_last_2', "-")

def av_esg_in_last_2(df):
    return av_feature_in_last_2(df, 'av_esg_in_last_2', "esg")

def av_ppg_in_last_2(df):
    return av_feature_in_last_2(df, 'av_ppg_in_last_2', "ppg")

def av_shg_in_last_2(df):
    return av_feature_in_last_2(df, 'av_shg_in_last_2', "shg")

def av_otg_in_last_2(df):
    return av_feature_in_last_2(df, 'av_otg_in_last_2', "otg")

def av_gwg_in_last_2(df):
    return av_feature_in_last_2(df, 'av_gwg_in_last_2', "gwg")

def av_sds_in_last_2(df):
    return av_feature_in_last_2(df, 'av_sds_in_last_2', "sds")

def av_sog_in_last_2(df):
    return av_feature_in_last_2(df, 'av_sog_in_last_2', "sog")

def av__SOG_in_last_2(df):
    return av_feature_in_last_2(df, 'av_%SOG_in_last_2', "%SOG")

def av_S_G_in_last_2(df):
    return av_feature_in_last_2(df, 'av_S/G_in_last_2', "S/G")

def av_fo_in_last_2(df):
    return av_feature_in_last_2(df, 'av_fo_in_last_2', "fo")

def av_fow_in_last_2(df):
    return av_feature_in_last_2(df, 'av_fow_in_last_2', "fow")

def av__FO_in_last_2(df):
    return av_feature_in_last_2(df, 'av_%FO_in_last_2', "%FO")

def av_TOI_G_in_last_2(df):
    return av_feature_in_last_2(df, 'av_TOI/G_in_last_2', "TOI/G")

def av_SFT_G_in_last_2(df):
    return av_feature_in_last_2(df, 'av_SFT/G_in_last_2', "SFT/G")

def av_hits_in_last_2(df):
    return av_feature_in_last_2(df, 'av_hits_in_last_2', "hits")

def av_bls_in_last_2(df):
    return av_feature_in_last_2(df, 'av_bls_in_last_2', "bls")

def av_foa_in_last_2(df):
    return av_feature_in_last_2(df, 'av_foa_in_last_2', "foa")

In [59]:
transforms = [av_games_in_last_2,
av_goals_in_last_2,
av_assists_in_last_2,
av_penalty_in_last_2,
av_p_m_in_last_2,
av_p_in_last_2,
av_m_in_last_2,
av_esg_in_last_2,
av_ppg_in_last_2,
av_shg_in_last_2,
av_otg_in_last_2,
av_gwg_in_last_2,
av_sds_in_last_2,
av_sog_in_last_2,
av__SOG_in_last_2,
av_S_G_in_last_2,
av_fo_in_last_2,
av_fow_in_last_2,
av_SFT_G_in_last_2,
av_hits_in_last_2,
av_bls_in_last_2,
av_foa_in_last_2]
transformer = DataFrameTransformer(df_player_feature)
transformer.add_transforms(transforms)
df_player_feature = transformer.fit()
df_player_feature

/Users/gvyarduhin/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:22: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

,%FO,%SOG,+,-,S/G,SFT/G,TOI/G,assists,av_%SOG_in_last_2,av_%SOG_overall,...,sog,team_country,team_full_name,team_id,team_khl_id,team_league_link,team_name,team_nhl_id,team_site_id,team_year_founded
24235,100.0,12.9,53.0,47.0,4.1,27.8,25:17,30.0,NaN,NaN,...,217.0,"Nur-Sultan, KAZ",,2338,22.0,https://www.eliteprospects.com/league/khl,Barys Nur-Sultan\n \n\n \nKHL,NaN,2498.0,1999.0
24234,-,0.0,0.0,2.0,3.0,28.7,32:26,1.0,NaN,12.900000,...,9.0,"Nur-Sultan, KAZ",,2338,22.0,https://www.eliteprospects.com/league/khl,Barys Nur-Sultan\n \n\n \nKHL,NaN,2498.0,1999.0
24233,-,7.7,51.0,58.0,3.3,25.0,25:33,27.0,6.45,6.450000,...,183.0,"Nur-Sultan, KAZ",,2338,22.0,https://www.eliteprospects.com/league/khl,Barys Nur-Sultan\n \n\n \nKHL,NaN,2498.0,1999.0
24232,50.0,5.3,51.0,41.0,4.2,27.1,27:17,27.0,3.85,6.866667,...,225.0,"Nur-Sultan, KAZ",,2338,22.0,https://www.eliteprospects.com/league/khl,Barys Nur-Sultan\n \n\n \nKHL,NaN,2498.0,1999.0
24231,-,0.0,0.0,4.0,3.8,24.5,27:31,2.0,6.50,6.475000,...,15.0,"Nur-Sultan, KAZ",,2338,22.0,https://www.eliteprospects.com/league/khl,Barys Nur-Sultan\n \n\n \nKHL,NaN,2498.0,1999.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28728,11.1,3.6,24.0,29.0,2.4,22.9,16:09,17.0,8.80,8.160000,...,111.0,Bratislava,,174,NaN,https://www.eliteprospects.com/league/slovakia,HC Slovan Bratislava\n \n\n \nSlov...,NaN,169.0,1921.0
4853,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.60,7.875000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4853,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.60,7.875000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4853,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.60,7.875000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4853,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.60,7.875000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [60]:
def av_feature_in_last_3(df, feature_name, attr):
        a = df.sort_values(by = ['season_year']).groupby(["player_id"])
        b = [pd.DataFrame(a.get_group(x)) for x in a.groups]
        for j in range(len(b)):
            count = 0
            res = []
            for i in range(len(b[j])):
                b[j] = b[j].sort_values(by = ['season_year', 'team_id'])
                if not np.isnan(list(b[j][attr])[i]):
                    if count != 3:
                        count+=1
                        res.append(list(b[j][attr])[i])
                    else:
                        b[j].loc[b[j].index[i], feature_name] = sum(res)/count
                        del res[0]
                        res.append(list(b[j][attr])[i])
                else:
                    if count == 3:
                        b[j].loc[b[j].index[i], feature_name] = sum(res)/count
                    res = []
                    count = 0
        return pd.concat(b)

In [61]:
def av_games_in_last_3(df):
    return av_feature_in_last_3(df, 'av_games_in_last_3', "games")

def av_goals_in_last_3(df):
    return av_feature_in_last_3(df, 'av_goals_in_last_3', "goals")

def av_assists_in_last_3(df):
    return av_feature_in_last_3(df, 'av_assists_in_last_3', "assists")

def av_penalty_in_last_3(df):
    return av_feature_in_last_3(df, 'av_penalty_in_last_3', "penalty")

def av_p_m_in_last_3(df):
    return av_feature_in_last_3(df, 'av_p_m_in_last_3', "p_m")

def av_p_in_last_3(df):
    return av_feature_in_last_3(df, 'av_+_in_last_3', "+")

def av_m_in_last_3(df):
    return av_feature_in_last_3(df, 'av_-_in_last_3', "-")

def av_esg_in_last_3(df):
    return av_feature_in_last_3(df, 'av_esg_in_last_3', "esg")

def av_ppg_in_last_3(df):
    return av_feature_in_last_3(df, 'av_ppg_in_last_3', "ppg")

def av_shg_in_last_3(df):
    return av_feature_in_last_3(df, 'av_shg_in_last_3', "shg")

def av_otg_in_last_3(df):
    return av_feature_in_last_3(df, 'av_otg_in_last_3', "otg")

def av_gwg_in_last_3(df):
    return av_feature_in_last_3(df, 'av_gwg_in_last_3', "gwg")

def av_sds_in_last_3(df):
    return av_feature_in_last_3(df, 'av_sds_in_last_3', "sds")

def av_sog_in_last_3(df):
    return av_feature_in_last_3(df, 'av_sog_in_last_3', "sog")

def av__SOG_in_last_3(df):
    return av_feature_in_last_3(df, 'av_%SOG_in_last_3', "%SOG")

def av_S_G_in_last_3(df):
    return av_feature_in_last_3(df, 'av_S/G_in_last_3', "S/G")

def av_fo_in_last_3(df):
    return av_feature_in_last_3(df, 'av_fo_in_last_3', "fo")

def av_fow_in_last_3(df):
    return av_feature_in_last_3(df, 'av_fow_in_last_3', "fow")

def av__FO_in_last_3(df):
    return av_feature_in_last_3(df, 'av_%FO_in_last_3', "%FO")

def av_TOI_G_in_last_3(df):
    return av_feature_in_last_3(df, 'av_TOI/G_in_last_3', "TOI/G")

def av_SFT_G_in_last_3(df):
    return av_feature_in_last_3(df, 'av_SFT/G_in_last_3', "SFT/G")

def av_hits_in_last_3(df):
    return av_feature_in_last_3(df, 'av_hits_in_last_3', "hits")

def av_bls_in_last_3(df):
    return av_feature_in_last_3(df, 'av_bls_in_last_3', "bls")

def av_foa_in_last_3(df):
    return av_feature_in_last_3(df, 'av_foa_in_last_3', "foa")

In [62]:
transforms = [av_games_in_last_3,
av_goals_in_last_3,
av_assists_in_last_3,
av_penalty_in_last_3,
av_p_m_in_last_3,
av_p_in_last_3,
av_m_in_last_3,
av_esg_in_last_3,
av_ppg_in_last_3,
av_shg_in_last_3,
av_otg_in_last_3,
av_gwg_in_last_3,
av_sds_in_last_3,
av_sog_in_last_3,
av__SOG_in_last_3,
av_S_G_in_last_3,
av_fo_in_last_3,
av_fow_in_last_3,
av_SFT_G_in_last_3,
av_hits_in_last_3,
av_bls_in_last_3,
av_foa_in_last_3]
transformer = DataFrameTransformer(df_player_feature)
transformer.add_transforms(transforms)
df_player_feature = transformer.fit()
df_player_feature

/Users/gvyarduhin/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:22: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

,%FO,%SOG,+,-,S/G,SFT/G,TOI/G,assists,av_%SOG_in_last_2,av_%SOG_in_last_3,...,sog,team_country,team_full_name,team_id,team_khl_id,team_league_link,team_name,team_nhl_id,team_site_id,team_year_founded
24235,100.0,12.9,53.0,47.0,4.1,27.8,25:17,30.0,NaN,NaN,...,217.0,"Nur-Sultan, KAZ",,2338,22.0,https://www.eliteprospects.com/league/khl,Barys Nur-Sultan\n \n\n \nKHL,NaN,2498.0,1999.0
24234,-,0.0,0.0,2.0,3.0,28.7,32:26,1.0,NaN,NaN,...,9.0,"Nur-Sultan, KAZ",,2338,22.0,https://www.eliteprospects.com/league/khl,Barys Nur-Sultan\n \n\n \nKHL,NaN,2498.0,1999.0
24233,-,7.7,51.0,58.0,3.3,25.0,25:33,27.0,6.45,NaN,...,183.0,"Nur-Sultan, KAZ",,2338,22.0,https://www.eliteprospects.com/league/khl,Barys Nur-Sultan\n \n\n \nKHL,NaN,2498.0,1999.0
24232,50.0,5.3,51.0,41.0,4.2,27.1,27:17,27.0,3.85,6.866667,...,225.0,"Nur-Sultan, KAZ",,2338,22.0,https://www.eliteprospects.com/league/khl,Barys Nur-Sultan\n \n\n \nKHL,NaN,2498.0,1999.0
24231,-,0.0,0.0,4.0,3.8,24.5,27:31,2.0,6.50,4.333333,...,15.0,"Nur-Sultan, KAZ",,2338,22.0,https://www.eliteprospects.com/league/khl,Barys Nur-Sultan\n \n\n \nKHL,NaN,2498.0,1999.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28728,11.1,3.6,24.0,29.0,2.4,22.9,16:09,17.0,8.80,5.866667,...,111.0,Bratislava,,174,NaN,https://www.eliteprospects.com/league/slovakia,HC Slovan Bratislava\n \n\n \nSlov...,NaN,169.0,1921.0
4853,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.60,7.066667,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4853,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.60,7.066667,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4853,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.60,7.066667,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4853,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.60,7.066667,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Model build

In [63]:
def learn_target_encoding(df_input, y_input, features2encode):    
    encoding_dict = {}
    target_column = 'target'
    df_input[target_column] = y_input
    target_mean = y_input.mean()
    for feature in features2encode:
        encoding_dict[feature] = df_input.groupby(feature)[target_column].mean().to_dict()
    df_input.drop(columns=target_column, inplace=True)
    return encoding_dict, target_mean

def apply_target_encoding(df_input, encoding_dict, global_target_mean):    
    df_output = df_input[:]
    for feature in encoding_dict:
        for c in df_input[feature].unique():
            if encoding_dict[feature].get(c) == None or encoding_dict[feature].get(c) == 0:
                encoding_dict[feature][c] = global_target_mean
        df_output[feature] = df_output[feature].replace(encoding_dict[feature])
    return df_output

In [64]:
def data_preprocessing(data_input):
    
    # Select bad columns and remove them
    cols_2_drop_team = ['games_team', 'points_team', 'goals_scored',
                        'goals_missed','position_in_championship', 'position_in_conference',
                        'playoff_fact', 'position_in_division',  'nhl_id']
    data_input = data_input.drop(cols_2_drop_team, axis=1)
    
#     Index([
#  
#       
#       
#        'player_age', 
#   ],
#       dtype='object')
    cols_2_drop_player = ['team_id', 'season_id', 'player_stats_id', 'player_stats_khl_id', 
                          'player_id', 'games_player', 'points_player',
                          'assists', 'penalty', 'p_m', '+', '-', 'esg', 'ppg',
                          'shg', 'otg', 'gwg', 'sds', 'sog', '%SOG', 'S/G', 'fo', 
                          'fow', '%FO', 'TOI/G', 'SFT/G', 'hits', 'bls', 'foa', 'league_id', 
                          'league_full_name', 'team_full_name', 'team_league_link', 'team_site_id',
                          'team_khl_id', 'team_nhl_id', 'player_site_id', 'player_khl_id', 'player_nhl_id',
                          'player_name', 'player_unicode_name']
    
    data_input = data_input.drop(cols_2_drop_player, axis=1)
    
    # Encode categorical features using OneHotEncoding
    data_input = pd.get_dummies(data_input, columns=['player_shoots'], prefix_sep='=')
    data_input = data_input.drop(['player_shoots=-'], axis=1)
    
    data_input = pd.get_dummies(data_input, columns=['league_short_name'], prefix_sep='=')
    data_input = data_input.drop(['league_short_name=VHL'], axis=1)

    # Encode binary features
    data_input.loc[:, 'season_type'] = data_input['season_type'].replace({'regular': 0, 'playoff': 1})
    
    # Get actual player age
    cur_year = 2019
    data_input['player_age'] = data_input['player_age'] - cur_year + data_input['season_year']
    
    return data_input

In [65]:
result_input_df = pd.read_csv("../data/data_with_feature.csv")

In [66]:
result_input_df.drop('Unnamed: 0', axis=1, inplace=True)
result_input_df

,%FO,%SOG,+,-,S/G,SFT/G,TOI/G,assists,av_%SOG_in_last_2,av_%SOG_in_last_3,...,feature_mean_goals_missed_season,feature_mean_goals_scored_season,feature_team_count_season,feature_mean_games_count_team,feature_mean_points_team,feature_mean_goals_scored_team,feature_mean_goals_missed_team,feature_mean_position_in_championship_team,feature_mean_position_in_conference_team,feature_mean_position_in_division_team
0,-,7.800000,14.000000,10.000000,3.40000,25.800000,24:41,9.0,9.400000,7.766667,...,144.513889,17.250000,6.333333,59.666667,0.000000,21.666667,199.000000,5.000000,0.0,0.0
1,-,7.800000,14.000000,10.000000,3.40000,25.800000,24:41,9.0,9.400000,7.766667,...,144.513889,17.250000,6.333333,59.666667,0.000000,21.666667,199.000000,5.000000,0.0,0.0
2,0.0,3.100000,7.000000,7.000000,2.50000,16.000000,12:52,3.0,10.400000,8.800000,...,144.513889,17.250000,6.333333,59.666667,0.000000,21.666667,199.000000,5.000000,0.0,0.0
3,0.0,3.100000,7.000000,7.000000,2.50000,16.000000,12:52,3.0,10.400000,8.800000,...,144.513889,17.250000,6.333333,59.666667,0.000000,21.666667,199.000000,5.000000,0.0,0.0
4,52.4,19.400000,14.000000,4.000000,2.10000,19.700000,15:15,6.0,24.650000,20.866667,...,144.513889,17.250000,6.333333,59.666667,0.000000,21.666667,199.000000,5.000000,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31398,NaN,6.896228,11.990429,12.097877,1.43948,19.302574,NaN,5.0,6.896228,6.896228,...,220.369877,222.089383,26.333333,82.000000,99.333333,222.333333,194.666667,9.333333,5.0,2.0
31399,NaN,6.896228,11.990429,12.097877,1.43948,19.302574,NaN,20.0,6.896228,6.896228,...,220.369877,222.089383,26.333333,82.000000,99.333333,222.333333,194.666667,9.333333,5.0,2.0
31400,NaN,6.896228,11.990429,12.097877,1.43948,19.302574,NaN,1.0,6.896228,6.896228,...,220.369877,222.089383,26.333333,82.000000,99.333333,222.333333,194.666667,9.333333,5.0,2.0
31401,NaN,6.896228,11.990429,12.097877,1.43948,19.302574,NaN,0.0,NaN,NaN,...,220.369877,222.089383,26.333333,82.000000,99.333333,222.333333,194.666667,9.333333,5.0,2.0
31402,NaN,6.896228,11.990429,12.097877,1.43948,19.302574,NaN,20.0,6.896228,6.896228,...,220.369877,222.089383,26.333333,82.000000,99.333333,222.333333,194.666667,9.333333,5.0,2.0

In [67]:
data_train = result_input_df[result_input_df['season_id'] < actual_season - 1]
data_test = result_input_df[result_input_df['season_id'] == 86]

In [68]:
y_column = 'goals'
X_columns = data_train.columns[data_train.columns != y_column]
X_columns

Index(['%FO', '%SOG', '+', '-', 'S/G', 'SFT/G', 'TOI/G', 'assists',
       'av_%SOG_in_last_2', 'av_%SOG_in_last_3',
       ...
       'feature_mean_goals_missed_season', 'feature_mean_goals_scored_season',
       'feature_team_count_season', 'feature_mean_games_count_team',
       'feature_mean_points_team', 'feature_mean_goals_scored_team',
       'feature_mean_goals_missed_team',
       'feature_mean_position_in_championship_team',
       'feature_mean_position_in_conference_team',
       'feature_mean_position_in_division_team'],
      dtype='object', length=143)

In [69]:
X_train, y_train = data_preprocessing(data_train[X_columns]), data_train[y_column]
X_test, y_test = data_preprocessing(data_test[X_columns]), data_test[y_column]

In [70]:
# Encode categorical features using TargetEncoding
encoding_dict, target_mean = learn_target_encoding(X_train, y_train, ['team_name', 'team_country', 'player_nationality', 'player_youth_team', 'player_position'])
X_train = apply_target_encoding(X_train, encoding_dict, target_mean)
X_train['team_name']

0        3.135468
1        3.135468
2        3.135468
3        3.135468
4        3.135468
           ...
31398    7.089646
31399    7.089646
31400    7.089646
31401    7.089646
31402    7.089646
Name: team_name, Length: 29310, dtype: float64

In [71]:
X_test = apply_target_encoding(X_test, encoding_dict, target_mean)

In [72]:
X_train, y_train = X_train.values, y_train.values
X_test, y_test = X_test.values, y_test.values

In [73]:
from sklearn.preprocessing import StandardScaler
X_scaled_train = StandardScaler().fit_transform(X_train)
X_scaled_test = StandardScaler().fit_transform(X_test)

## LightGBM

In [74]:
import lightgbm as ltb

In [75]:
model = ltb.LGBMRegressor()
model.fit(X_train, y_train)
predicted_y = model.predict(X_test)

In [76]:
predicted_y.max()

45.89061152629847

In [77]:
def percentage_error(actual, predicted):
    res = np.empty(actual.shape)
    for j in range(actual.shape[0]):
        if actual[j] != 0:
            res[j] = (actual[j] - predicted[j]) / actual[j]
        else:
            res[j] = predicted[j] / np.mean(actual)
    return res

def mean_absolute_percentage_error(y_true, y_pred): 
    return np.mean(np.abs(percentage_error(np.asarray(y_true), np.asarray(y_pred)))) * 100.0

In [78]:
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error
print('MSE %.2f' % mean_squared_error(y_test, predicted_y))
print('R^2 %.2f' % r2_score(y_test, predicted_y))
print('MAPE %.2f' % mean_absolute_percentage_error(y_test, predicted_y))

MSE 17.99
R^2 0.71
MAPE 71.66

## Data preprocessing teams

In [105]:
df_team_feature.columns

Index(['team_id', 'season_id', 'games', 'points', 'goals_scored',
       'goals_missed', 'position_in_championship', 'position_in_conference',
       'playoff_fact', 'position_in_division', 'nhl_id',
       'feature_mean_games_count_season', 'feature_mean_points_season',
       'feature_mean_position_in_division_season',
       'feature_mean_position_in_conference_season',
       'feature_mean_position_in_championship_season',
       'feature_mean_goals_missed_season', 'feature_mean_goals_scored_season',
       'feature_team_count_season', 'feature_mean_games_count_team',
       'feature_mean_points_team', 'feature_mean_goals_scored_team',
       'feature_mean_goals_missed_team',
       'feature_mean_position_in_championship_team',
       'feature_mean_position_in_conference_team',
       'feature_mean_position_in_division_team'],
      dtype='object')

In [106]:
cols_2_drop_team = ['games', 'points', 'goals_scored',
                        'goals_missed','position_in_championship', 'position_in_conference',
                        'playoff_fact', 'position_in_division',  'nhl_id']
df_team = df_team_feature.drop(cols_2_drop_team, axis=1)
df_team = df_team[df_team['season_id'] == actual_season]
df_team.columns

Index(['team_id', 'season_id', 'feature_mean_games_count_season',
       'feature_mean_points_season',
       'feature_mean_position_in_division_season',
       'feature_mean_position_in_conference_season',
       'feature_mean_position_in_championship_season',
       'feature_mean_goals_missed_season', 'feature_mean_goals_scored_season',
       'feature_team_count_season', 'feature_mean_games_count_team',
       'feature_mean_points_team', 'feature_mean_goals_scored_team',
       'feature_mean_goals_missed_team',
       'feature_mean_position_in_championship_team',
       'feature_mean_position_in_conference_team',
       'feature_mean_position_in_division_team'],
      dtype='object')

## Data preprocessing player

In [107]:
np.array(df_player_feature.columns)

array(['%FO', '%SOG', '+', '-', 'S/G', 'SFT/G', 'TOI/G', 'assists',
       'av_%SOG_in_last_2', 'av_%SOG_in_last_3', 'av_%SOG_overall',
       'av_+_in_last_2', 'av_+_in_last_3', 'av_+_overall',
       'av_-_in_last_2', 'av_-_in_last_3', 'av_-_overall',
       'av_S/G_in_last_2', 'av_S/G_in_last_3', 'av_S/G_overall',
       'av_SFT/G_in_last_2', 'av_SFT/G_in_last_3', 'av_SFT/G_overall',
       'av_assists_in_last_2', 'av_assists_in_last_3',
       'av_assists_overall', 'av_bls_in_last_2', 'av_bls_in_last_3',
       'av_bls_overall', 'av_esg_in_last_2', 'av_esg_in_last_3',
       'av_esg_overall', 'av_fo_in_last_2', 'av_fo_in_last_3',
       'av_fo_overall', 'av_foa_in_last_2', 'av_foa_in_last_3',
       'av_foa_overall', 'av_fow_in_last_2', 'av_fow_in_last_3',
       'av_fow_overall', 'av_games_in_last_2', 'av_games_in_last_3',
       'av_games_overall', 'av_goals_in_last_2', 'av_goals_in_last_3',
       'av_goals_overall', 'av_gwg_in_last_2', 'av_gwg_in_last_3',
       'av_gwg_overall', 'av_hits_in_last_2', 'av_hits_in_last_3',
       'av_hits_overall', 'av_otg_in_last_2', 'av_otg_in_last_3',
       'av_otg_overall', 'av_p_m_in_last_2', 'av_p_m_in_last_3',
       'av_p_m_overall', 'av_penalty_in_last_2', 'av_penalty_in_last_3',
       'av_penalty_overall', 'av_ppg_in_last_2', 'av_ppg_in_last_3',
       'av_ppg_overall', 'av_sds_in_last_2', 'av_sds_in_last_3',
       'av_sds_overall', 'av_shg_in_last_2', 'av_shg_in_last_3',
       'av_shg_overall', 'av_sog_in_last_2', 'av_sog_in_last_3',
       'av_sog_overall', 'bls', 'esg', 'fo', 'foa', 'fow', 'games',
       'goals', 'gwg', 'hits', 'league_full_name', 'league_id',
       'league_short_name', 'otg', 'p_m', 'penalty', 'player_age',
       'player_height', 'player_id', 'player_khl_id', 'player_name',
       'player_nationality', 'player_nhl_id', 'player_position',
       'player_shoots', 'player_site_id', 'player_stats_id',
       'player_stats_khl_id', 'player_unicode_name', 'player_weight',
       'player_youth_team', 'points', 'ppg', 'sds', 'season_id',
       'season_type', 'season_year', 'shg', 'sog', 'team_country',
       'team_full_name', 'team_id', 'team_khl_id', 'team_league_link',
       'team_name', 'team_nhl_id', 'team_site_id', 'team_year_founded'],
      dtype=object)

In [108]:
cols_2_drop_player = ['player_stats_id', 'player_stats_khl_id', 'games', 'points',
                          'assists', 'penalty', 'p_m', '+', '-', 'esg', 'ppg',
                          'shg', 'otg', 'gwg', 'sds', 'sog', '%SOG', 'S/G', 'fo', 
                          'fow', '%FO', 'TOI/G', 'SFT/G', 'hits', 'bls', 'foa', 'league_id', 
                          'league_full_name', 'team_full_name', 'team_league_link', 'team_site_id',
                          'team_khl_id', 'team_nhl_id', 'player_site_id', 'player_khl_id', 'player_nhl_id',
                          'player_name', 'player_unicode_name', 'goals', 'league_short_name',
 'season_type',
 'season_year',
 'team_country',
 'team_id',
 'team_name',
 'team_year_founded']
df_player = df_player_feature.drop(cols_2_drop_player, axis=1)
df_player['player_id'] = df_player['player_id'].astype(int)
df_player = df_player[df_player['season_id'] == actual_season]
df_player.columns

Index(['av_%SOG_in_last_2', 'av_%SOG_in_last_3', 'av_%SOG_overall',
       'av_+_in_last_2', 'av_+_in_last_3', 'av_+_overall', 'av_-_in_last_2',
       'av_-_in_last_3', 'av_-_overall', 'av_S/G_in_last_2',
       'av_S/G_in_last_3', 'av_S/G_overall', 'av_SFT/G_in_last_2',
       'av_SFT/G_in_last_3', 'av_SFT/G_overall', 'av_assists_in_last_2',
       'av_assists_in_last_3', 'av_assists_overall', 'av_bls_in_last_2',
       'av_bls_in_last_3', 'av_bls_overall', 'av_esg_in_last_2',
       'av_esg_in_last_3', 'av_esg_overall', 'av_fo_in_last_2',
       'av_fo_in_last_3', 'av_fo_overall', 'av_foa_in_last_2',
       'av_foa_in_last_3', 'av_foa_overall', 'av_fow_in_last_2',
       'av_fow_in_last_3', 'av_fow_overall', 'av_games_in_last_2',
       'av_games_in_last_3', 'av_games_overall', 'av_goals_in_last_2',
       'av_goals_in_last_3', 'av_goals_overall', 'av_gwg_in_last_2',
       'av_gwg_in_last_3', 'av_gwg_overall', 'av_hits_in_last_2',
       'av_hits_in_last_3', 'av_hits_overall', 'av_otg_in_last_2',
       'av_otg_in_last_3', 'av_otg_overall', 'av_p_m_in_last_2',
       'av_p_m_in_last_3', 'av_p_m_overall', 'av_penalty_in_last_2',
       'av_penalty_in_last_3', 'av_penalty_overall', 'av_ppg_in_last_2',
       'av_ppg_in_last_3', 'av_ppg_overall', 'av_sds_in_last_2',
       'av_sds_in_last_3', 'av_sds_overall', 'av_shg_in_last_2',
       'av_shg_in_last_3', 'av_shg_overall', 'av_sog_in_last_2',
       'av_sog_in_last_3', 'av_sog_overall', 'player_age', 'player_height',
       'player_id', 'player_nationality', 'player_position', 'player_shoots',
       'player_weight', 'player_youth_team', 'season_id'],
      dtype='object')

In [109]:
df_player['player_id'].max()

729659

## player info

In [110]:
temp_player = df_player_stats[(df_player_stats['season_id'] >= minimum_season) & (df_player_stats['season_id'] < actual_season)]
temp_player.reset_index(drop=True, inplace=True)
temp_player

,player_stats_id,player_stats_khl_id,season_id,team_id,player_id,games,points,goals,assists,penalty,...,player_height,player_weight,player_site_id,player_age,player_name,player_unicode_name,player_khl_id,player_nhl_id,season_year,season_type
0,0.0,NaN,41,1479,8517,21,6.0,0.0,6.0,12.0,...,183.0,88.0,8523,40.0,Chris Kunitz\n ...,"chris kunitz a.k.a. ""christopher kunitz""",None,8470543.0,2003,regular
1,2.0,NaN,47,1479,8517,67,41.0,19.0,22.0,69.0,...,183.0,88.0,8523,40.0,Chris Kunitz\n ...,"chris kunitz a.k.a. ""christopher kunitz""",None,8470543.0,2005,regular
2,3.0,NaN,50,1479,8517,81,60.0,25.0,35.0,81.0,...,183.0,88.0,8523,40.0,Chris Kunitz\n ...,"chris kunitz a.k.a. ""christopher kunitz""",None,8470543.0,2006,regular
3,4.0,NaN,53,1479,8517,82,50.0,21.0,29.0,80.0,...,183.0,88.0,8523,40.0,Chris Kunitz\n ...,"chris kunitz a.k.a. ""christopher kunitz""",None,8470543.0,2007,regular
4,5.0,NaN,56,1479,8517,62,35.0,16.0,19.0,55.0,...,183.0,88.0,8523,40.0,Chris Kunitz\n ...,"chris kunitz a.k.a. ""christopher kunitz""",None,8470543.0,2008,regular
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35173,NaN,14312.0,71,931,2648,16,0.0,0.0,0.0,30.0,...,180.0,92.0,11128,31.0,Maxim Grachyov ...,"maxim grachyov a.k.a. ""max, maxime gratchyov, ...",None,NaN,2013,regular
35174,NaN,14313.0,64,205,2648,4,0.0,0.0,0.0,13.0,...,180.0,92.0,11128,31.0,Maxim Grachyov ...,"maxim grachyov a.k.a. ""max, maxime gratchyov, ...",None,NaN,2011,playoff
35175,NaN,14314.0,65,205,2648,13,0.0,0.0,0.0,16.0,...,180.0,92.0,11128,31.0,Maxim Grachyov ...,"maxim grachyov a.k.a. ""max, maxime gratchyov, ...",None,NaN,2011,regular
35176,NaN,14315.0,71,931,2649,7,0.0,0.0,0.0,2.0,...,180.0,82.0,41097,27.0,Valeri Knyazev ...,"valeri knyazev a.k.a. ""valery knyazev""",None,NaN,2013,regular
35177,NaN,14316.0,68,931,2649,26,0.0,0.0,0.0,0.0,...,180.0,82.0,41097,27.0,Valeri Knyazev ...,"valeri knyazev a.k.a. ""valery knyazev""",None,NaN,2012,regular

In [111]:
players_info_df = temp_player[['player_id', 'player_nationality', 'player_youth_team', 'player_position',
       'player_shoots', 'player_height', 'player_weight', 'player_age']]
players_info_df['player_id'] = players_info_df['player_id'].astype(int)

/Users/gvyarduhin/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

## team info

In [112]:
team_info_df = result_input_df[['team_id', 'team_name', 'team_country', 'team_year_founded', 'league_short_name']]
team_info_df = team_info_df.drop_duplicates(keep='first')
team_info_df

,team_id,team_name,team_country,team_year_founded,league_short_name
0,203,SKA St. Petersburg\n \n\n \nKHL,"St. Petersburg, RUS",1946,KHL
61,2338,Barys Nur-Sultan\n \n\n \nKHL,"Nur-Sultan, KAZ",1999,KHL
267,188,Ak Bars Kazan\n \n\n \nKHL,Kazan,1956,KHL
443,6116,Dynamo Moskva\n \n\n \nKHL,"Moskva, RUS",1946,KHL
753,191,CSKA Moskva\n \n\n \nKHL,"Moskva, RUS",1946,KHL
1005,202,Metallurg Magnitogorsk\n \n\n \nKHL,"Magnitogorsk, RUS",1953,KHL
1073,198,Lokomotiv Yaroslavl\n \n\n \nKHL,Yaroslavl,1949,KHL
1125,205,Severstal Cherepovets\n \n\n \nKHL,"Cherepovets, RUS",1956,KHL
1511,931,Sibir Novosibirsk\n \n\n \nKHL,"Novosibirsk, RUS",1962,KHL
1549,20132,Kunlun Red Star\n \n\n \nKHL,"Beijing, CHN",2016,KHL
1601,1570,Traktor Chelyabinsk\n \n\n \nKHL,"Chelyabinsk, RUS",1947,KHL
1666,204,Neftekhimik Nizhnekamsk\n \n\n \nKHL,"Nizhnekamsk, RUS",1968,KHL
1696,86,San Jose Sharks\n \n\n \nNHL,"San JosÃ©, CA, USA",1991,NHL
1843,83,Toronto Maple Leafs\n \n\n \nNHL,"Toronto, ON, CAN",1917,NHL
1981,206,Vityaz Podolsk\n \n\n \nKHL,Podolsk,1996,KHL
2275,1577,Dinamo Minsk\n \n\n \nKHL,"Minsk, BLR",1976,KHL
2487,216,Torpedo Nizhny Novgorod\n \n\n \nKHL,"Nizhny Novgorod, RUS",1946,KHL
2687,1621,Avtomobilist Yekaterinburg\n \n\n ...,Yekaterinburg,2006,KHL
2792,192,Avangard Omsk\n \n\n \nKHL,"Omsk, RUS",1950,KHL
2915,200,Salavat Yulaev Ufa\n \n\n \nKHL\n ...,Ufa,1961,KHL
2987,724,Spartak Moskva\n \n\n \nKHL,"Moskva, RUS",1946,KHL
3434,13644,Admiral Vladivostok\n \n\n \nKHL,"Vladivostok, RUS",2013,KHL
3577,15526,HK Sochi\n \n\n \nKHL,"Sochi, RUS",2014,KHL
3687,46,Jokerit\n \n\n \nKHL,"Helsinki, FIN",1967,KHL
4146,649,Dinamo Riga\n \n\n \nKHL,"Riga, LAT",1940,KHL
4237,89,Washington Capitals\n \n\n \nNHL,"Washington, DC, USA",1974,NHL
4646,71,Edmonton Oilers\n \n\n \nNHL,"Edmonton, AB, CAN",1971,NHL
4734,79,Pittsburgh Penguins\n \n\n \nNHL,"Pittsburgh, PA, USA",1967,NHL
4935,66,Carolina Hurricanes\n \n\n \nNHL,"Raleigh, NC, USA",1997,NHL
5149,1479,Anaheim Ducks\n \n\n \nNHL,"Anaheim, CA, USA",1993,NHL
5219,20120,Vegas Golden Knights\n \n\n \nNHL,"Las Vegas, NV, USA",2016,NHL
5498,76,New York Islanders\n \n\n \nNHL,"New York, NY, USA",1972,NHL
5566,65,Chicago Blackhawks\n \n\n \nNHL,"Chicago, IL, USA",1926,NHL
5830,78,St. Louis Blues\n \n\n \nNHL,"St. Louis, MO, USA",1967,NHL
5969,84,Vancouver Canucks\n \n\n \nNHL,"Vancouver, BC, CAN",1945,NHL
6066,73,Nashville Predators\n \n\n \nNHL,"Nashville, TN, USA",1997,NHL
6486,70,Dallas Stars\n \n\n \nNHL,"Dallas, TX",1993,NHL
6768,62,Calgary Flames\n \n\n \nNHL,"Calgary, AB, CAN",1980,NHL
6914,547,Winnipeg Jets\n \n\n \n ...,"Winnipeg, MB, CAN",1972,NHL
6947,74,New York Rangers\n \n\n \nNHL,"New York, NY, USA",1926,NHL
6978,63,Boston Bruins\n \n\n \nNHL,"Boston, MA, USA",1924,NHL
7323,77,Philadelphia Flyers\n \n\n \nNHL,"Philadelphia, PA, USA",1967,NHL
7572,64,Colorado Avalanche\n \n\n \nNHL,"Denver, CO, USA",1995,NHL
7655,88,Los Angeles Kings\n \n\n \nNHL,"Los Angeles, CA, USA",1967,NHL
7856,87,Arizona Coyotes\n \n\n \nNHL,"Glendale, AZ, USA",1996,NHL
9149,69,Minnesota Wild\n \n\n \nNHL,"St. Paul, MN, USA",2000,NHL
9739,80,Ottawa Senators\n \n\n \nNHL,"Ottawa, ON, CAN",1992,NHL
9793,81,Tampa Bay Lightning\n \n\n \nNHL,"Tampa, FL, USA",1992,NHL
10423,68,Florida Panthers\n \n\n \nNHL,"Sunrise, FL",1993,NHL
10730,82,Columbus Blue Jackets\n \n\n \nNHL,"Columbus, OH, USA",2000,NHL
11145,75,MontrÃ©al Canadiens\n \n\n \nNHL,"MontrÃ©al, QC, CAN",1909,NHL
11521,85,Detroit Red Wings\n \n\n \nNHL,"Detroit, MI, USA",1926,NHL
13307,2685,Yugra Khanty-Mansiysk\n \n\n \nVHL,Khanty-Mansiysk,2006,VHL
14218,67,Buffalo Sabres\n \n\n \nNHL,"Buffalo, NY, USA",1970,NHL
14663,196,Lada Togliatti\n \n\n \nVHL,Togliatti,1976,VHL
16100,199,Metallurg Novokuznetsk\n \n\n \nVHL,"Novokuznetsk, RUS",1949,VHL
23871,194,Amur Khabarovsk\n \n\n \nKHL,"Khabarovsk, RUS",1958,KHL

## Merge tables

### Merge teams

In [113]:
team_full_df = pd.merge(df_team, team_info_df, on='team_id')
team_full_df = team_full_df.drop_duplicates(keep='first')
team_full_df.columns

Index(['team_id', 'season_id', 'feature_mean_games_count_season',
       'feature_mean_points_season',
       'feature_mean_position_in_division_season',
       'feature_mean_position_in_conference_season',
       'feature_mean_position_in_championship_season',
       'feature_mean_goals_missed_season', 'feature_mean_goals_scored_season',
       'feature_team_count_season', 'feature_mean_games_count_team',
       'feature_mean_points_team', 'feature_mean_goals_scored_team',
       'feature_mean_goals_missed_team',
       'feature_mean_position_in_championship_team',
       'feature_mean_position_in_conference_team',
       'feature_mean_position_in_division_team', 'team_name', 'team_country',
       'team_year_founded', 'league_short_name'],
      dtype='object')

### merge players

In [88]:
player_colomns = ['player_id']
for column in df_player.columns:
    if column not in players_info_df.columns:
        player_colomns.append(column)
player_colomns

['player_id',
 'av_%SOG_in_last_2',
 'av_%SOG_in_last_3',
 'av_%SOG_overall',
 'av_+_in_last_2',
 'av_+_in_last_3',
 'av_+_overall',
 'av_-_in_last_2',
 'av_-_in_last_3',
 'av_-_overall',
 'av_S/G_in_last_2',
 'av_S/G_in_last_3',
 'av_S/G_overall',
 'av_SFT/G_in_last_2',
 'av_SFT/G_in_last_3',
 'av_SFT/G_overall',
 'av_assists_in_last_2',
 'av_assists_in_last_3',
 'av_assists_overall',
 'av_bls_in_last_2',
 'av_bls_in_last_3',
 'av_bls_overall',
 'av_esg_in_last_2',
 'av_esg_in_last_3',
 'av_esg_overall',
 'av_fo_in_last_2',
 'av_fo_in_last_3',
 'av_fo_overall',
 'av_foa_in_last_2',
 'av_foa_in_last_3',
 'av_foa_overall',
 'av_fow_in_last_2',
 'av_fow_in_last_3',
 'av_fow_overall',
 'av_games_in_last_2',
 'av_games_in_last_3',
 'av_games_overall',
 'av_goals_in_last_2',
 'av_goals_in_last_3',
 'av_goals_overall',
 'av_gwg_in_last_2',
 'av_gwg_in_last_3',
 'av_gwg_overall',
 'av_hits_in_last_2',
 'av_hits_in_last_3',
 'av_hits_overall',
 'av_otg_in_last_2',
 'av_otg_in_last_3',
 'av_otg_overall',
 'av_p_m_in_last_2',
 'av_p_m_in_last_3',
 'av_p_m_overall',
 'av_penalty_in_last_2',
 'av_penalty_in_last_3',
 'av_penalty_overall',
 'av_ppg_in_last_2',
 'av_ppg_in_last_3',
 'av_ppg_overall',
 'av_sds_in_last_2',
 'av_sds_in_last_3',
 'av_sds_overall',
 'av_shg_in_last_2',
 'av_shg_in_last_3',
 'av_shg_overall',
 'av_sog_in_last_2',
 'av_sog_in_last_3',
 'av_sog_overall',
 'season_id']

In [114]:
df_player = df_player[player_colomns]
players_full_df = pd.merge(df_player, players_info_df, on='player_id')
players_full_df = players_full_df.drop_duplicates(keep='first')
players_full_df.columns

Index(['player_id', 'av_%SOG_in_last_2', 'av_%SOG_in_last_3',
       'av_%SOG_overall', 'av_+_in_last_2', 'av_+_in_last_3', 'av_+_overall',
       'av_-_in_last_2', 'av_-_in_last_3', 'av_-_overall', 'av_S/G_in_last_2',
       'av_S/G_in_last_3', 'av_S/G_overall', 'av_SFT/G_in_last_2',
       'av_SFT/G_in_last_3', 'av_SFT/G_overall', 'av_assists_in_last_2',
       'av_assists_in_last_3', 'av_assists_overall', 'av_bls_in_last_2',
       'av_bls_in_last_3', 'av_bls_overall', 'av_esg_in_last_2',
       'av_esg_in_last_3', 'av_esg_overall', 'av_fo_in_last_2',
       'av_fo_in_last_3', 'av_fo_overall', 'av_foa_in_last_2',
       'av_foa_in_last_3', 'av_foa_overall', 'av_fow_in_last_2',
       'av_fow_in_last_3', 'av_fow_overall', 'av_games_in_last_2',
       'av_games_in_last_3', 'av_games_overall', 'av_goals_in_last_2',
       'av_goals_in_last_3', 'av_goals_overall', 'av_gwg_in_last_2',
       'av_gwg_in_last_3', 'av_gwg_overall', 'av_hits_in_last_2',
       'av_hits_in_last_3', 'av_hits_overall', 'av_otg_in_last_2',
       'av_otg_in_last_3', 'av_otg_overall', 'av_p_m_in_last_2',
       'av_p_m_in_last_3', 'av_p_m_overall', 'av_penalty_in_last_2',
       'av_penalty_in_last_3', 'av_penalty_overall', 'av_ppg_in_last_2',
       'av_ppg_in_last_3', 'av_ppg_overall', 'av_sds_in_last_2',
       'av_sds_in_last_3', 'av_sds_overall', 'av_shg_in_last_2',
       'av_shg_in_last_3', 'av_shg_overall', 'av_sog_in_last_2',
       'av_sog_in_last_3', 'av_sog_overall', 'season_id', 'player_nationality',
       'player_youth_team', 'player_position', 'player_shoots',
       'player_height', 'player_weight', 'player_age'],
      dtype='object')

### merge all

In [115]:
len(players_full_df) * len(team_full_df)

441750

In [116]:
players_full_df.drop('season_id', axis=1, inplace=True)
team_full_df.drop('season_id', axis=1, inplace=True)

In [117]:
players_full_df['key'] = 1
team_full_df['key'] = 1
full_test_df = pd.merge(players_full_df, team_full_df, on='key',how='outer').drop('key',axis=1)
full_test_df

,player_id,av_%SOG_in_last_2,av_%SOG_in_last_3,av_%SOG_overall,av_+_in_last_2,av_+_in_last_3,av_+_overall,av_-_in_last_2,av_-_in_last_3,av_-_overall,...,feature_mean_points_team,feature_mean_goals_scored_team,feature_mean_goals_missed_team,feature_mean_position_in_championship_team,feature_mean_position_in_conference_team,feature_mean_position_in_division_team,team_name,team_country,team_year_founded,league_short_name
0,0,5.45,3.633333,5.758824,47.5,34.000000,30.294118,26.0,34.666667,27.352941,...,97.6667,141.333,129.333,10.3333,6,4,Torpedo Nizhny Novgorod\n \n\n \nKHL,"Nizhny Novgorod, RUS",1946,KHL
1,0,5.45,3.633333,5.758824,47.5,34.000000,30.294118,26.0,34.666667,27.352941,...,99,155,125.333,9.33333,5.66667,4,Dynamo Moskva\n \n\n \nKHL,"Moskva, RUS",1946,KHL
2,0,5.45,3.633333,5.758824,47.5,34.000000,30.294118,26.0,34.666667,27.352941,...,94,166.333,156.333,11.3333,4,2.33333,Salavat Yulaev Ufa\n \n\n \nKHL\n ...,Ufa,1961,KHL
3,0,5.45,3.633333,5.758824,47.5,34.000000,30.294118,26.0,34.666667,27.352941,...,101.667,152,126.667,7.66667,3,1.66667,Ak Bars Kazan\n \n\n \nKHL,Kazan,1956,KHL
4,0,5.45,3.633333,5.758824,47.5,34.000000,30.294118,26.0,34.666667,27.352941,...,125,217.333,120,4.33333,3,1.33333,SKA St. Petersburg\n \n\n \nKHL,"St. Petersburg, RUS",1946,KHL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
441745,999,3.60,7.066667,7.875000,24.0,21.333333,18.562500,29.0,24.000000,17.625000,...,100,254,230.333,9.33333,4.66667,2.66667,San Jose Sharks\n \n\n \nNHL,"San JosÃ©, CA, USA",1991,NHL
441746,999,3.60,7.066667,7.875000,24.0,21.333333,18.562500,29.0,24.000000,17.625000,...,88,222.667,229.667,19.3333,9,5.33333,Dallas Stars\n \n\n \nNHL,"Dallas, TX",1993,NHL
441747,999,3.60,7.066667,7.875000,24.0,21.333333,18.562500,29.0,24.000000,17.625000,...,100,266,239.333,10.6667,5,3,Winnipeg Jets\n \n\n \n ...,"Winnipeg, MB, CAN",1972,NHL
441748,999,3.60,7.066667,7.875000,24.0,21.333333,18.562500,29.0,24.000000,17.625000,...,75.3333,206,246.333,25,12,6,Arizona Coyotes\n \n\n \nNHL,"Glendale, AZ, USA",1996,NHL
441749,999,3.60,7.066667,7.875000,24.0,21.333333,18.562500,29.0,24.000000,17.625000,...,67.3333,173.667,152.667,7,3.33333,1.33333,Vegas Golden Knights\n \n\n \nNHL,"Las Vegas, NV, USA",2016,NHL

In [118]:
full_test_df.columns

Index(['player_id', 'av_%SOG_in_last_2', 'av_%SOG_in_last_3',
       'av_%SOG_overall', 'av_+_in_last_2', 'av_+_in_last_3', 'av_+_overall',
       'av_-_in_last_2', 'av_-_in_last_3', 'av_-_overall', 'av_S/G_in_last_2',
       'av_S/G_in_last_3', 'av_S/G_overall', 'av_SFT/G_in_last_2',
       'av_SFT/G_in_last_3', 'av_SFT/G_overall', 'av_assists_in_last_2',
       'av_assists_in_last_3', 'av_assists_overall', 'av_bls_in_last_2',
       'av_bls_in_last_3', 'av_bls_overall', 'av_esg_in_last_2',
       'av_esg_in_last_3', 'av_esg_overall', 'av_fo_in_last_2',
       'av_fo_in_last_3', 'av_fo_overall', 'av_foa_in_last_2',
       'av_foa_in_last_3', 'av_foa_overall', 'av_fow_in_last_2',
       'av_fow_in_last_3', 'av_fow_overall', 'av_games_in_last_2',
       'av_games_in_last_3', 'av_games_overall', 'av_goals_in_last_2',
       'av_goals_in_last_3', 'av_goals_overall', 'av_gwg_in_last_2',
       'av_gwg_in_last_3', 'av_gwg_overall', 'av_hits_in_last_2',
       'av_hits_in_last_3', 'av_hits_overall', 'av_otg_in_last_2',
       'av_otg_in_last_3', 'av_otg_overall', 'av_p_m_in_last_2',
       'av_p_m_in_last_3', 'av_p_m_overall', 'av_penalty_in_last_2',
       'av_penalty_in_last_3', 'av_penalty_overall', 'av_ppg_in_last_2',
       'av_ppg_in_last_3', 'av_ppg_overall', 'av_sds_in_last_2',
       'av_sds_in_last_3', 'av_sds_overall', 'av_shg_in_last_2',
       'av_shg_in_last_3', 'av_shg_overall', 'av_sog_in_last_2',
       'av_sog_in_last_3', 'av_sog_overall', 'player_nationality',
       'player_youth_team', 'player_position', 'player_shoots',
       'player_height', 'player_weight', 'player_age', 'team_id',
       'feature_mean_games_count_season', 'feature_mean_points_season',
       'feature_mean_position_in_division_season',
       'feature_mean_position_in_conference_season',
       'feature_mean_position_in_championship_season',
       'feature_mean_goals_missed_season', 'feature_mean_goals_scored_season',
       'feature_team_count_season', 'feature_mean_games_count_team',
       'feature_mean_points_team', 'feature_mean_goals_scored_team',
       'feature_mean_goals_missed_team',
       'feature_mean_position_in_championship_team',
       'feature_mean_position_in_conference_team',
       'feature_mean_position_in_division_team', 'team_name', 'team_country',
       'team_year_founded', 'league_short_name'],
      dtype='object')

In [134]:
full_test_df['season_year'] = 2019
full_test_df['season_type'] = 1

In [135]:
def predict(df):
    cur_year = 2019
    print(len(df.columns))
    # Encode categorical features using OneHotEncoding
    df = pd.get_dummies(df, columns=['player_shoots'], prefix_sep='=')
    df = df.drop(['player_shoots=-'], axis=1)
    
    df = pd.get_dummies(df, columns=['league_short_name'], prefix_sep='=')
    df = df.drop(['league_short_name=VHL', 'av_+_overall'], axis=1)
    
    df = apply_target_encoding(df, encoding_dict, target_mean)
    X_pred = df.values
    predicted_y = model.predict(X_pred)
    return predicted_y

In [136]:
pred_df = full_test_df[['player_id', 'team_id']]
pred_df

KeyError: "None of [Index(['player_id', 'team_id'], dtype='object')] are in the [columns]"

In [122]:
full_test_df.drop(['player_id', 'team_id'], axis=1, inplace=True)

In [123]:
full_test_df

,av_%SOG_in_last_2,av_%SOG_in_last_3,av_%SOG_overall,av_+_in_last_2,av_+_in_last_3,av_+_overall,av_-_in_last_2,av_-_in_last_3,av_-_overall,av_S/G_in_last_2,...,feature_mean_goals_missed_team,feature_mean_position_in_championship_team,feature_mean_position_in_conference_team,feature_mean_position_in_division_team,team_name,team_country,team_year_founded,league_short_name,season_year,season_type
0,5.45,3.633333,5.758824,47.5,34.000000,30.294118,26.0,34.666667,27.352941,3.15,...,129.333,10.3333,6,4,Torpedo Nizhny Novgorod\n \n\n \nKHL,"Nizhny Novgorod, RUS",1946,KHL,2019,0
1,5.45,3.633333,5.758824,47.5,34.000000,30.294118,26.0,34.666667,27.352941,3.15,...,125.333,9.33333,5.66667,4,Dynamo Moskva\n \n\n \nKHL,"Moskva, RUS",1946,KHL,2019,0
2,5.45,3.633333,5.758824,47.5,34.000000,30.294118,26.0,34.666667,27.352941,3.15,...,156.333,11.3333,4,2.33333,Salavat Yulaev Ufa\n \n\n \nKHL\n ...,Ufa,1961,KHL,2019,0
3,5.45,3.633333,5.758824,47.5,34.000000,30.294118,26.0,34.666667,27.352941,3.15,...,126.667,7.66667,3,1.66667,Ak Bars Kazan\n \n\n \nKHL,Kazan,1956,KHL,2019,0
4,5.45,3.633333,5.758824,47.5,34.000000,30.294118,26.0,34.666667,27.352941,3.15,...,120,4.33333,3,1.33333,SKA St. Petersburg\n \n\n \nKHL,"St. Petersburg, RUS",1946,KHL,2019,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
441745,3.60,7.066667,7.875000,24.0,21.333333,18.562500,29.0,24.000000,17.625000,2.40,...,230.333,9.33333,4.66667,2.66667,San Jose Sharks\n \n\n \nNHL,"San JosÃ©, CA, USA",1991,NHL,2019,0
441746,3.60,7.066667,7.875000,24.0,21.333333,18.562500,29.0,24.000000,17.625000,2.40,...,229.667,19.3333,9,5.33333,Dallas Stars\n \n\n \nNHL,"Dallas, TX",1993,NHL,2019,0
441747,3.60,7.066667,7.875000,24.0,21.333333,18.562500,29.0,24.000000,17.625000,2.40,...,239.333,10.6667,5,3,Winnipeg Jets\n \n\n \n ...,"Winnipeg, MB, CAN",1972,NHL,2019,0
441748,3.60,7.066667,7.875000,24.0,21.333333,18.562500,29.0,24.000000,17.625000,2.40,...,246.333,25,12,6,Arizona Coyotes\n \n\n \nNHL,"Glendale, AZ, USA",1996,NHL,2019,0
441749,3.60,7.066667,7.875000,24.0,21.333333,18.562500,29.0,24.000000,17.625000,2.40,...,152.667,7,3.33333,1.33333,Vegas Golden Knights\n \n\n \nNHL,"Las Vegas, NV, USA",2016,NHL,2019,0

In [124]:
full_test_df.to_csv("../data/full_test.csv")

In [137]:
pred_df['goals'] = predict(full_test_df)
pred_df

94

/Users/gvyarduhin/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

        player_id  team_id      goals
0               0    216.0  16.768018
1               0   6116.0  15.971265
2               0    200.0  15.971265
3               0    188.0  15.971265
4               0    203.0  15.971265
...           ...      ...        ...
441745        999     86.0  16.332673
441746        999     70.0  16.332673
441747        999    547.0  16.599053
441748        999     87.0  17.709717
441749        999  20120.0  17.551718

[441750 rows x 3 columns]

In [126]:
pred_df['goals'].max()

26.668532316740308

In [127]:
temp = result_input_df[result_input_df['season_id'] >= 80]

In [128]:
temp['av_goals_overall'].max()

47.72727272727273

In [129]:
full_test_df['av_goals_overall'].max()

47.0

In [130]:
pred_df.to_csv("../data/temp_res2.csv")

In [131]:
test = pd.read_csv("../data/temp_res.csv")

In [132]:
test['goals'].max()

26.668532316740308

In [138]:
temp = pd.read_csv('https://raw.githubusercontent.com/mcherdakov/hockey_stats/feature/add_model/data/Ð—Ð°Ð¼ÐµÑ€Ð´Ð¶ÐµÐ½Ð½Ñ‹Ð¹_Ð´Ð°Ñ‚Ð°Ñ„Ñ€ÐµÐ¹Ð¼_09_04.csv')

UnicodeEncodeError: 'ascii' codec can't encode characters in position 52-63: ordinal not in range(128)